@charset "UTF-8";
/* CSS Document for Carbon footprint calculator */

body {
font-family: sans-serif;
background-color: #e1d7c6;
}

.navbar {
    background-color: #c3b091;
}

.container {
    margin-top: 150px;
}

.card-inner {
    background-color: #78866b;
}

